In [20]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from pprint import pprint
from sklearn.linear_model import LinearRegression
import re

In [97]:
path = "..\\static\\resources\\577033037_T_DB1B_MARKET.csv"

In [39]:
ticket_data = pd.read_csv(path)

ticket_data.head()

,ITIN_ID,YEAR,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_WAC,DEST_AIRPORT_ID,...,DEST_STATE_ABR,DEST_STATE_NM,REPORTING_CARRIER,BULK_FARE,PASSENGERS,MARKET_FARE,MARKET_DISTANCE,MARKET_MILES_FLOWN,NONSTOP_MILES,Unnamed: 22
0,201819,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,GA,Georgia,9E,0.0,1.0,5.0,692.0,692.0,692.0,NaN
1,2018110,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,GA,Georgia,9E,0.0,1.0,274.0,692.0,692.0,692.0,NaN
2,2018111,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,GA,Georgia,9E,0.0,1.0,415.0,692.0,692.0,692.0,NaN
3,2018112,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,GA,Georgia,9E,0.0,1.0,170.0,692.0,692.0,692.0,NaN
4,2018112,2018,10397,1039707,30397,ATL,US,GA,34,10135,...,PA,Pennsylvania,9E,0.0,1.0,170.0,692.0,692.0,692.0,NaN

In [65]:
cleanedticket_data = ticket_data.dropna(how='all', axis='columns') # removing the unnamed column

cleanedticket_data.head()

,ITIN_ID,YEAR,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_WAC,DEST_AIRPORT_ID,...,DEST,DEST_STATE_ABR,DEST_STATE_NM,REPORTING_CARRIER,BULK_FARE,PASSENGERS,MARKET_FARE,MARKET_DISTANCE,MARKET_MILES_FLOWN,NONSTOP_MILES
0,201819,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,ATL,GA,Georgia,9E,0.0,1.0,5.0,692.0,692.0,692.0
1,2018110,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,ATL,GA,Georgia,9E,0.0,1.0,274.0,692.0,692.0,692.0
2,2018111,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,ATL,GA,Georgia,9E,0.0,1.0,415.0,692.0,692.0,692.0
3,2018112,2018,10135,1013505,30135,ABE,US,PA,23,10397,...,ATL,GA,Georgia,9E,0.0,1.0,170.0,692.0,692.0,692.0
4,2018112,2018,10397,1039707,30397,ATL,US,GA,34,10135,...,ABE,PA,Pennsylvania,9E,0.0,1.0,170.0,692.0,692.0,692.0

In [50]:
cleanedticket_data.columns

Index(['ITIN_ID', 'YEAR', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_COUNTRY', 'ORIGIN_STATE_ABR',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_STATE_ABR', 'DEST_STATE_NM',
       'REPORTING_CARRIER', 'BULK_FARE', 'PASSENGERS', 'MARKET_FARE',
       'MARKET_DISTANCE', 'MARKET_MILES_FLOWN', 'NONSTOP_MILES'],
      dtype='object')

In [67]:
y = cleanedticket_data["MARKET_FARE"]  # The prediction data

In [71]:
features = ["PASSENGERS","MARKET_MILES_FLOWN", "ORIGIN_CITY_MARKET_ID", "DEST_AIRPORT_ID" ] 

X = cleanedticket_data[features]  # features to help predict the data

In [72]:
X.shape

(6093175, 4)

In [73]:
y.shape

(6093175,)

In [89]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [90]:
ticketmodel = DecisionTreeRegressor(random_state=0)

In [91]:
ticketmodel.fit(train_X,train_y) # tranining the model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [92]:
val_predictions = ticketmodel.predict(val_X)

In [93]:
print(val_predictions)

[338.22222222 270.58666667 409.1155     ... 286.09026316 245.96
 263.50472727]

In [94]:
print(mean_absolute_error(val_y, val_predictions))

116.01075197116509

In [95]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [96]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  121
Max leaf nodes: 50  		 Mean Absolute Error:  119
Max leaf nodes: 500  		 Mean Absolute Error:  118
Max leaf nodes: 5000  		 Mean Absolute Error:  115

In [153]:
best_tree_size = 5000

In [98]:
val_predictions2 = ticketmodel.predict(X)

In [103]:
pprint(val_predictions2)

array([270.35842365, 270.35842365, 270.35842365, ..., 362.36846154,
       369.79958848, 362.36846154])

In [106]:
output = pd.DataFrame({'MARKET_FARE': val_predictions2})

In [107]:
output.head()

   MARKET_FARE
0   270.358424
1   270.358424
2   270.358424
3   270.358424
4   270.140000

## Testing the data

In [177]:
test_datadf = pd.read_csv("..\\static\\resources\\testdata.csv")

In [178]:
test_datadf.head()

   PASSENGERS  MARKET_MILES_FLOWN  ORIGIN_CITY_MARKET_ID  DEST_AIRPORT_ID
0           1                 692                  30135            10397

In [179]:
test_datadf.columns

Index(['PASSENGERS', 'MARKET_MILES_FLOWN', 'ORIGIN_CITY_MARKET_ID',
       'DEST_AIRPORT_ID'],
      dtype='object')

In [180]:
features = ["PASSENGERS","MARKET_MILES_FLOWN", "ORIGIN_CITY_MARKET_ID", "DEST_AIRPORT_ID" ] 

test_X  = test_datadf[features]

In [181]:
newTicketmodel = DecisionTreeRegressor(max_leaf_nodes=5000, random_state=0)  #best_tree_size = 5000

In [182]:
newTicketmodel.fit(X,y)

test_preds = newTicketmodel.predict(test_X)

In [183]:
print(test_preds)

[267.17373333]

In [184]:
randomticketmodel = RandomForestRegressor(random_state=1)

In [185]:
randomticketmodel.fit(X,y)

random_preds = randomticketmodel.predict(test_X)

C:\users\MeenakshiNadimuthu\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [186]:
print(random_preds)

[278.29607017]

In [ ]:
linearticketmodel = LinearRegression()

In [ ]:
linearticketmodel.fit(X, y)

linearpreds = linearticketmodel.predict(test_X)

In [187]:
ysample = y.sample(n=1, random_state=1)

In [188]:
print(mean_absolute_error(ysample,test_preds))

262.1737333333331

In [189]:
print(mean_absolute_error(ysample,random_preds))

273.2960701692326

In [61]:
Airlines = ["Hawaiian Airlines Inc.",
"Delta Air Lines Inc.",
"United Air Lines Inc.",
"American Airlines Inc.",
"Frontier Airlines Inc.",
"Southwest Airlines Co.",
"JetBlue Airways",
"ExpressJet Airlines LLC",
"SkyWest Airlines Inc.",
"Alaska Airlines Inc."]

In [73]:
EntireCarrierDF = pd.read_csv("../resources/L_CARRIERS.csv")
EntireCarrierDF.set_index("Code")

EntireCarrierDF.head()

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

In [97]:
CarrierCode = []
for airline in Airlines: 
    code = list(EntireCarrierDF.loc[EntireCarrierDF["Description"] == airline, "Code"])
    CarrierCode.append(code[0])

In [99]:
CarrierCodeDF = pd.DataFrame({"Code":CarrierCode})

FinalCarrierCodeDF = pd.merge(EntireCarrierDF,CarrierCodeDF, how="inner", on="Code" )

FinalCarrierCodeDF

  Code              Description
0   AA   American Airlines Inc.
1   AS     Alaska Airlines Inc.
2   B6          JetBlue Airways
3   DL     Delta Air Lines Inc.
4   EV  ExpressJet Airlines LLC
5   F9   Frontier Airlines Inc.
6   HA   Hawaiian Airlines Inc.
7   OO    SkyWest Airlines Inc.
8   UA    United Air Lines Inc.
9   WN   Southwest Airlines Co.

None
<cssutils.css.CSSStyleDeclaration object length=0 (all: 0) at 0x1e9ae543080>